<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    @for(todo of todos$ | async;track todo.id){
      <ion-card>
        <ion-card-header>
          <ion-card-title>todo {{todo.id}}</ion-card-title>
          <ion-card-subtitle>{{todo.title}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{todo.title}}
        </ion-card-content>
      </ion-card>
    }


  </div>
</ion-content>
